# Deploy Variables
IMAGE_URL="[HARBOR_SERVER_URL]/webapps/webforms-link-generator"

# Portainer
PORTAINER_URL="https://[PORTAINER_URL]"
PORTAINER_STACK_NAME="[STACK_NAME]"
PORTAINER_API_TOKEN="[API_TOKEN]"
